#theTitle {
	font-family: 'Abril Fatface', cursive;
	color: #ffff00; 
	text-align: center;
	background-image: url("../images/sky.jpg");
	padding-top: 1em;
	padding-bottom: 1em;
}

.pictures {
	padding-top: 3em; 
	display: block; 
	margin-right: auto; 
	margin-left: auto;
}